<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/view/css/style.css">
    <title>Controle Serviço</title>
</head>
<body>
    <header>
        <nav>
            <a href="/inicio"> 
                INICIO
            </a>
        </nav>
        <div class="conteiner">  
            <img src="../imagens/logo.jpg" alt="logo Banho e Tosa">
            <h1>Controle Serviço</h1>
            </div>
        
    </header>
    <main>
        <a class="btn" href="cadastrar_servico.html">Cadastrar</a>
        <a class="btn" href="excluir_servico_pela_data.html">Excluir</a>
        <a class="btn" href="visualizar_servico1.html">Visualizar</a>
        <a class="btn" href="alterar_servico_pela_data.html">Alterar</a>
    </main>
</body>
</html>