<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/view/css/style.css">
        <title>Cancelar Serviço</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="gerenciamento.html"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Cancelar serviço</h1>
            </div>
        </header>

        <main >
            <p class="texto_explicativo">Digite a data do serviço que <br> voce deseja realizar o cancelamento</p>
            <form action="excluir_servico.ejs" method="POST">
                <div class="excluir">
                    <label for="data" >Data :</label> <br>
                    <input type="date" id="data" name="data" ><br> <br>
                    <label for="hora" >hora :</label> <br>
                    <input type="time" id="hora" name="hora" ><br> <br>
                </div>
                <div class="botaoe">
                    <button class="botao" type="submit" >Buscar</button>
                </div>
            </form>
        </main>
    </body>
</html>