<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/view/css/style.css">
        <title>atualizar Pet</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/inicio"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Atualizar Pet</h1>
            </div>
        </header>

        <main >
            <p class="texto_explicativo">Digite o nome do pet que <br> voce deseja realizar a alteração</p>
            <form action="atualizar_pet.ejs" method="POST">
                <div class="excluir">
                    <label for="fname" >Nome :</label> <br>
                    <input  placeholder="Apenas letras" required name="nomePessoa"  pattern="[Aa-zZ\s]+$" title="Somente letras entre a e z" type="text" id="nomePet" name="nomePet" ><br> <br>
                    <label for="NomePet" >CPF :</label> <br>
                    <input placeholder="Apenas numeros" required name="CPF"  pattern="[0-9]+$" title="Somente numeros" type="text" id="CPF" name="CPF" ><br> <br>
                </div>
                <div class="botaoe">
                    <button class="botao" type="submit" >Buscar</button>
                </div>
            </form>
        </main>
    </body>
</html>