<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/view/css/style.css">
        <title>Controle Pets</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/inicio"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Controle Pets</h1>
                </div> 
        </header>
        
        <main>
            <a class="btn" href="cadastrar_pet.html">Cadastrar</a>
            <a class="btn" href="excluir_pet.html">Excluir</a>
            <a class="btn" href="visualizar_pet.html">Visualizar</a>
            <a class="btn" href="atualizar_pet_pagina_busca.html">Alterar</a>
        </main>
    </body>
</html>