<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/style.css">
        <title>Excluir Pet</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="gerenciamento.html"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Excluir Pet</h1>
            </div>
        </header>

        <main >
            <p class="texto_explicativo" >Digite o nome do pet que <br> voce deseja remover</p>
            <form action="excluipetPorCpf" method="POST">
                <div class="excluir">
                    <label for="fname" >Nome :</label> <br>
                    <input type="text" id="nomePet" name="nomePet" placeholder="Apenas letras" required name="nome" autocomplete="off"><br> 
                </div>
                <div class="botaoe">
                    <button class="botao" type="submit">Buscar</button>
                </div>
            </form>
        </main>
    </body>
</html>