<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/view/css/style.css">
        <title> Visualizar Pet </title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/inicio"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Buscar Pet </h1>
            </div>
        </header>

        <main >
            <p class="texto_explicativo" >Digite o nome do Pet e CPF do dono que <br> voce deseja ver os dados</p>
            <form action="exibirPet" method="POST">
                <div class="excluir">
                    <label for="NomePet" >Nome :</label> <br>
                    <input type="text" id="NomePet" name="nomePet" ><br> <br>
                    <label for="NomePet" >CPF :</label> <br>
                    <input type="text" id="CPF" name="CPF" ><br> <br>
                </div>
                <div class="botaoe">
                    <button class="botao" type="submit" >Buscar</button>
                </div>
            </form>
        </main>
    </body>
</html>